# fly.toml app configuration file generated for kanbin-web on 2026-02-21T18:30:00+13:00

app = "kanbin-web"
primary_region = "syd"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  size = "shared-cpu-1x"
